body {
    font-family: Arial, Arial, Helvetica, sans-serif
}

#top {
    text-align: center;
}


#footer {
    text-align: center;
}

#main {
    text-align: center;
}

#logo-name {
    color: black;
    display: inline-block;
    font-size: 32px;
    font-weight: bold
}

.button {
    display: inline-block;
    background-color: #b30000;
    //red color border: none;
    border-radius: 40px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
}

.button2 {
    background-color: #364cf4;
    margin-bottom: 20px;
    //blue color 
   
}
.button3 {
    background-color: red;
    color: black;
    font-size: 32px;
    height: 60px;
    width: 150px;
    padding: 8px 30px;
    font-weight: bold //blue color
}

.button4 {
    background-color: green;
   
    //blue color
}

.button5 {
    background-color: blue;
    
    //blue color
}

.button6 {
    background-color: mediumvioletred;
    
    //blue color
}

.button7 {
    background-color: gray;
    //blue color
}

.button8 {
    background-color: yellow;
    color: black;
    margin-bottom: 20px;
    //blue color
}

.button9 {
    color: black;
    height: 20px;
    width: 60px;
    border-radius: 10px;
    text-align: center;
}

.eingabe {
    text-align: center;
}