body {
    font-family: Arial, Arial, Helvetica, sans-serif
}

#top {
    text-align: center;
}

#main {
    text-align: center;
}

#logo-name {
    color: black;
    display: inline-block;
    font-size: 32px;
    font-weight: bold
}


#statePanel button {
    display: inline-block;
    border-radius: 40px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
}

#btnOn {	
    background-color: #b30000;
}

#btnOff {
    background-color: #364cf4;
}


#colorPanel button {
    color: black;
    font-size: 32px;
    height: 60px;
    width: 150px;
    padding: 8px 30px;
    font-weight: bold //blue color
}

#btnWhite{
    background-color: gray;
}

#btnRed {
	background-color: red;
}

#btnGreen {
    background-color: green;
}

#btnBlue {
    background-color: blue;
}

#btnPurple {
    background-color: mediumvioletred;
}

#btnYellow {
    background-color: yellow;
}


#btnReset {
    color: black;
    height: 20px;
    width: 60px;
    border-radius: 10px;
    text-align: center;
}